<!-- <h2>Games</h2> -->

<div *ngFor="let product of products" class="blocks">
  <div class="card">
    <div>
      <h3 class="card-title">
        <strong>{{ product.name }}</strong>
      </h3>
      <img src="{{ product.image }}" />
      <p class="card-text">{{ product.description }}</p>
      <a class="button fancy-button" (click)="share();buy()">Buy</a>
    </div>
  </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
